@model BusinessObject.Models.Admin

@{
    ViewData["Title"] = "AddAdmin";
    Layout = "_Dashboard";

}
<div class="container">
    <main role="main" class="pb-3">
        <div class="card shadow mb-4">
            @* <div class="card-header py-3">
                <h2 class="m-0 font-weight-bold text-black">Add Admin</h2>
            </div> *@
            <div class="card-body ">
                <div class="row">
                    <div>
                        <form class="user" asp-controller="Account" asp-action="AddAdmin" enctype="multipart/form-data">
                            <div class ="text-center">
                                <label >Avartar</label>
                            </div>
                            <div class="text-center">
                                 <img id="output" src="/images/bo-2.png" class="text-center" style="height:300px; width:300px;" />
                                <input type="file" accept="image/*" name="imgFile" class="form-control" onchange="loadFile(event)">
                            </div>
                            <label>Email</label>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control ", placeholder = "Enter Email", required = "required", type = "email" })
                            </div>
                            <label>Fullname</label>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Fullname, new { @class = "form-control ", placeholder = "Enter full name", required = "required" })
                            </div>
                            <label>Password</label>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Pwd, new { @class = "form-control ", placeholder = "Enter Password", required = "required" })
                            </div>
                            <div style="margin-top:15px; margin-bottom:15px">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger form-control" })
                            </div>
                            <button type="submit" class="btn btn-success btn-block" style=" text-decoration:none; color: white">Create New Account</button>
                        </form>
                        <a class="btn btn-secondary btn-block" style="text-decoration:none; color: white" asp-action="Admins">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </main>


</div>
<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

</script>
